.add {
    float: right;
    border: none;
    background-color: navy;
    color: whitesmoke;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-left: 12px;
    border-radius: 5px;
    margin: 0 auto;
}

.add:active {
    background-color: darkblue;
}

h1 {
    font-size: 25px;
}